
body{
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  font-size: 4.3rem; /* 16px = 100% = 1em */
  margin: 70px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  color: #66BFBF;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #11999E;
}

hr{
  border-style: dotted none none;
  border-width: 0.4em;
  width: 4%;
  margin: 100px auto;
  border-color: #a9a9a9;
}

p{
  line-height: 2;
}

.contact-msg{
  margin: 40px auto 90px;
}

.contact-me{
  margin: 0px 0 100px;
}

.round{
  border-radius: 100%
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
  margin: 0 auto 100px;
}

.top-cloud{
  position: absolute;
  top: 100px;
  right: 250px;
}

.bottom-cloud{
  position: absolute;
  left: 280px;

}

.mountain{
  position: relative;
}

.skill-row{
  margin: 80px auto 150px;
  width: 50%;
  text-align: left;
}

.com-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pcb-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link{
  color: #11999E;
  font-family: 'Merriweather', serif;
  padding: 10px 20px;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 0;
  margin-block-end: 0;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 85px;
}

.middle-container{
  padding-top: 100px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
