
body{
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  font-size: 5.3rem; /* 16px = 100% = 1em */
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  color: #66BFBF;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
  padding-top: 20px;
  color: #11999E;
  margin-bottom: 40px;

}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
  margin-bottom: 10px;
}

h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #11999E;
  margin-bottom: 10px;
}

hr{
  border-style: dotted none none;
  border-width: 0.4em;
  width: 4%;
  margin: 15px auto 100px;
  border-color: #a9a9a9;
}

p{
  line-height: 2;
  margin: 0 auto;
}

.contact-me{
  margin: 0 100px 100px;
}

.round{
  border-radius: 100%;
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
}

.c-btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.c-btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
  margin: 0 auto 100px;
}

.top-cloud{
  position: relative;
  left: 440px;
  height: 150px;
  right: 250px;

}

.bottom-cloud{
  position: relative;
  left: 150px;
  bottom: 196px;
  height: 150px;
}

.mountain{
  position: relative;
  height: 450px;
  top: 10%;
  right: 8.5%;
}

.education{
  margin: 0 100px;
  padding: 0 0 0.1px;
}

.education-row{
  margin: 40px auto 100px;
  width: 70%;
  text-align: left;
}

.skill-row{
  margin: 40px auto 75px;
  width: 80%;
  text-align: left;
}

.oriental-img{
  width: 155px;
  float: left;
  margin-right: 30px;
}

.miss-hill-img{
  width: 157px;
  float: right;
  margin-left: 30px;
}

.sanskriti-img{
  width: 157px;
  float: left;
  padding: 0 28px 0 0;
  /* margin-left: 30px; */
}


.development-img{
  width: 270px;
  float: left;
  margin-right: 30px;
  padding: 85px 0;
}

.PCB-img{
  width: 250px;
  padding: 20px 65px 60px 30px;
  margin-right: 49px;
  float: left;
  /* margin-left: 30px; */
}


.footer-link{
  color: #11999E;
  font-family: 'Merriweather', serif;
  padding: 10px 20px;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 0;
  margin-block-end: 0;
}

.top-container{
  background-color: #E4F9F5;
  padding-top: 65px;
  height: 889px;
}

.middle-container{
  padding: 190px 100px 200px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.second-last-container{
  margin: 0 100px 100px;
}

.icons{
  padding: 2px 20px 2px;
}

.icons:hover{
  opacity: 0.2;
}

.container {
  width: 450px;
  height: 10px;
  padding: 0;
  margin: 0;
  background-color: #ddd;
  position: relative;
  left: 470px;
  bottom: 20px;
  border-radius: 5px;
}

.skills {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 3px;
  color: white;
}

.Javascript {
  width: 70%;
  height: 10px;
  background-color: #005f99;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.python {
  width: 80%;
  height: 10px;
  background-color:  #66BFBF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.html-css {
  width: 75%;
  height: 10px;
  background-color: #b39ceb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.express {
  width: 71%;
  height: 10px;
  background-color: #2196F3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.node {
  width: 68%;
  height: 10px;
  background-color: #FF449F;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.mongo {
  width: 65%;
  height: 10px;
  background-color: #04AA6D;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.embedded {
  width: 70%;
  height: 10px;
  background-color: #005f99;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.PCB {
  width: 85%;
  height: 10px;
  background-color: #b39ceb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.easyeda {
  width: 80%;
  height: 10px;
  background-color: #FF449F;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.micro{
  width: 68%;
  height: 10px;
  background-color: #2196F3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.spacing{
  margin-top: 25px;
  font-size: 1.055rem;
}

.card{
  display: inline-block;
  margin: 20px 20px;
  text-align: left;
  font-family: 'Montserrat';
  line-height: 1.5;
}

.card .card-body .card-text{
  line-height: 1.5;
}

.c-spacing{
  padding: 10px 0 39px;
}

.card-title{
  width: 103%;
}

.btn{
  margin: 12px 0 5px;
}
