
body{
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  font-size: 5.3rem; /* 16px = 100% = 1em */
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  color: #66BFBF;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
  padding-top: 20px;
  color: #11999E;
  margin-bottom: 40px;

}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
  margin-bottom: 10px;
}

h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #11999E;
  margin-bottom: 10px;
}

hr{
  border-style: dotted none none;
  border-width: 0.4em;
  width: 4%;
  margin: 15px auto 150px;
  border-color: #a9a9a9;
}

p{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  line-height: 2;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

.contact-me{
  margin: 0 100px 150px;
  padding-bottom: 50px;
}

.round{
  border-radius: 100%;
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
}

.c-btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.c-btn:hover {
  background: #30e3cb;
  color: white;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
  margin: 0 auto 100px;
}

.top-cloud{
  position: relative;
  left: 440px;
  height: 150px;
  right: 250px;
}

.bottom-cloud{
  position: relative;
  left: 150px;
  bottom: 196px;
  height: 150px;
}

.mountain{
  position: relative;
  height: 450px;
  top: 10%;
  right: 8.5%;
}

.education{
  margin: 0 100px 100px;
  padding: 0 0 0.1px;
}

.education-row{
  margin: 40px auto 100px;
  width: 70%;
  text-align: left;
}

.skill-row{
  margin: 40px auto 75px;
  width: 80%;
  text-align: left;
}

.oriental-img{
  width: 155px;
  float: left;
  margin-right: 30px;
}

.miss-hill-img{
  width: 157px;
  float: right;
  margin-left: 30px;
}

.sanskriti-img{
  width: 157px;
  float: left;
  padding: 0 28px 0 0;
}


.development-img{
  width: 270px;
  float: left;
  margin-right: 30px;
  padding: 85px 0;
}

.PCB-img{
  width: 250px;
  padding: 20px 65px 60px 30px;
  margin-right: 49px;
  float: left;
  /* margin-left: 30px; */
}


.footer-link{
  color: #11999E;
  font-family: 'Merriweather', serif;
  padding: 10px 20px;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 0;
  margin-block-end: 0;
}

.top-container{
  background-color: #E4F9F5;
  padding-top: 65px;
  height: 889px;
}

.middle-container{
  padding: 190px 100px 200px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.second-last-container{
  margin: 0 100px 250px;
}

.icons{
  padding: 2px 20px 2px;
}

.icons:hover{
  opacity: 0.2;
}

.container {
  width: 450px;
  height: 6px;
  padding: 0;
  margin: 0;
  background-color: #ddd;
  position: relative;
  left: 470px;
  bottom: 20px;
  border-radius: 5px;
}

.skills {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 3px;
  color: white;
}


.round-circle{
  width: 13px;
  height: 13px;
  border-radius: 10px;
  position: relative;
  bottom: 5.7px;
}

.Javascript {
  width: 70%;
  height: 6px;
  background-color: #005f99;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.round-Javascript{
  background-color: #005f99;
  position: relative;
  left: 307px;
}

.python {
  width: 80%;
  height: 6px;
  background-color:  #66BFBF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.round-python{
  background-color:  #66BFBF;
  position: relative;
  left: 350px;
}

.html-css {
  width: 75%;
  height: 6px;
  background-color: #b39ceb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.round-html-css{
  background-color: #b39ceb;
  position: relative;
  left: 335px;
}

.express {
  width: 71%;
  height: 6px;
  background-color: #2196F3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.round-express{
  background-color: #2196F3;
  position: relative;
  left: 317px;
}

.node {
  width: 68%;
  height: 6px;
  background-color: #FF449F;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.round-node{
  background-color: #FF449F;
  position: relative;
  left: 295px;
}

.mongo {
  width: 65%;
  height: 6px;
  background-color: #04AA6D;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.round-mongo{
  background-color: #04AA6D;
  position: relative;
  left: 290px;
}

.embedded {
  width: 70%;
  height: 6px;
  background-color: #005f99;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.PCB {
  width: 85%;
  height: 6px;
  background-color: #b39ceb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.round-PCB{
  background-color: #b39ceb;
  position: relative;
  left: 380px;
}

.round-embedded{
  background-color: #005f99;
  position: relative;
  left: 310px;
}

.easyeda {
  width: 80%;
  height: 6px;
  background-color: #FF449F;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.round-easyeda{
  background-color: #FF449F;
  position: relative;
  left: 350px;
}

.micro{
  width: 68%;
  height: 6px;
  background-color: #2196F3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.round-micro{
  background-color: #2196F3;
  position: relative;
  left: 295px;
}

.spacing{
  margin-top: 25px;
}

.card{
  display: inline-block;
  margin: 20px 20px;
  text-align: left;
  font-family: 'Montserrat';
  line-height: 1.5;
}

.card .card-body .card-text{
  line-height: 1.5;
}

.card-title{
  width: 103%;
}

.btn{
  margin: 12px 0 5px;
}

.custom-btn{
  z-index: 1;
}

#navbar{
  padding: 0 20px;
  position: fixed;
  z-index: 1;
  top: -100px;
  width: 100%;
  transition: top 0.8s;
 }

.nav-sign-size{
  width: 22%;
  position: relative;
  right: 550px;
  top: -2px
}

.nav-resume-size p{
  display: inline-block;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2rem;
  padding: 3px 5px 20px;
  color: black;
  position: absolute;
  top: 15px;
  right: 135px;
}

.nav-resume-size:hover p{
  border-bottom: 3px solid;
  border-color: #66BFBF;
}

.nav-blog-size p{
  display: inline-block;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2rem;
  padding: 3px 5px 20px;
  color: black;
  position: absolute;
  top: 15px;
  right: 406px;
}

.nav-blog-size:hover p{
  border-bottom: 3px solid;
  border-color: #66BFBF;
}

.nav-github-size p{
  display: inline-block;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2rem;
  padding: 3px 5px 20px;
  color: black;
  position: absolute;
  top: 15px;
  right: 325px;
}

.nav-github-size:hover p{
  border-bottom: 3px solid;
  border-color: #66BFBF;
}

.nav-linkedin-size p{
  display: inline-block;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2rem;
  padding: 3px 5px 20px;
  color: black;
  position: absolute;
  top: 15px;
  right: 230px;
}

.nav-linkedin-size:hover p{
  border-bottom: 3px solid;
  border-color: #66BFBF;
}

.c-cards{
  width: 18rem;
  transition: transform .2s;
}

.c-cards:hover{
  -ms-transform: scale(1.050);
  -webkit-transform: scale(1.050);
  transform: scale(1.050);
}

.c-button{
  border-radius: 1px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
}

.c-button:hover{
  background-color: black;
  border: 1px solid black;
  color: white;
}

.fa-stack-overflow{
  position: relative;
  top: 6px;
  color: #222426;
}

.c-style{
  margin-bottom: 100px;

}

.eda{
  width: 45px;
  height: 45px;
}

.icon{
  padding: 2px 4px 2px 10px;
}

.icon:hover{
  opacity: 0.2;
}

.font-aw{
  position: relative;
  top: 7px;
  color: black;
}

.university{
  position: absolute;
  top: 1780px;
  right: 1px;
  width: 1525px;
  height: 840px;
  opacity: 0.12;
}

.project-back{
  position: absolute;
  width: 1515px;
  height: 1000px;
  right: 2px;
  top: 4050px;
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}


.footer-msg{
  font-size: 1.2rem;
}

.c-bold{
  font-weight: bold;
}

@media screen and (max-width: 800px) and (min-width: 381px){
  body{
    position: relative;
    width: 1110px;
  }
  h1{
    font-size: 6rem;
    margin-top: 50px;
  }
  h2{
    margin-top: 10px;
    font-size: 2rem;
  }
  .mountain{
    height: 440px;
    width: 940px;
    position: relative;
    top: -0.5px;
    right: 10px;
  }

  .top-cloud{
    left: 350px;
    bottom: -30px;
    height: 120px;
  }

  .bottom-cloud{
    left: -300px;
    bottom: 30px;
    height: 120px;
  }

  #navbar{
    height: 100px;
  }

  .nav-sign-size{
    width: 40%;
    position: absolute;
    left: -20px;
    top: -10px;
  }

  .nav-resume-size p{
    top: 25px;
    font-size: 1.4rem;
    right: 100px;
    padding: 7px 0 20px;
  }

  .nav-blog-size p{
    top: 25px;
    font-size: 1.4rem;
    right: 400px;
    padding: 7px 0 20px;
  }

  .nav-github-size p{
    top: 25px;
    font-size: 1.4rem;
    right: 300px;
    padding: 7px 0 20px;
  }
  .nav-linkedin-size p{
    top: 25px;
    font-size: 1.4rem;
    right: 200px;
    padding: 7px 0 20px 0;
  }
  .top-container{
    padding-top: 65px;
    height: 966px;
  }
  .education{
    margin: 0 5px;
    padding: 0 0 0.1px;
  }
  .development-img{
    padding: 50px 0;
    width: 250px;
  }
  .PCB-img{
    width: 200px;
    margin: 0 55px 0 25px;
    padding: 0 26px 25px;
  }
  .container {
    position: relative;
    left: 440px;
  }
  .university{
    position: absolute;
    width: 1109px;
    top: 1900px;
    left: 0px;
  }
  .project-back{
    display: none;
  }
}

@media (max-width: 380px){

  body{
    width: 465px;
  }

  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 1.3rem;
  }
  h4{
    font-size: 1.3rem;
  }
  hr{
    border-width: 0.3em;
    width: 5%;
  }

  #navbar{
    height: 95px;
  }

  .nav-sign-size{
    width: 50%;
    position: relative;
    right: -4px;
    top: -13px
  }

  .nav-blog-size p{
    top: 38px;
    right: 360px;
    padding: 8px 0;
  }

  .nav-github-size p{
    top: 38px;
    right: 275px;
    padding: 8px 0;
  }
  .nav-linkedin-size p{
    top: 38px;
    right: 175px;
    padding: 8px 0;
  }

  .nav-resume-size p{
    top: 38px;
    right: 75px;
    padding: 8px 0;
  }

  .top-container{
    padding-top: 65px;
    height: 575px;
  }
  .mountain{
    height: 225px;
    width: 450px;
    position: relative;
    top: 3%;
    right: 2%;
  }

  .top-cloud{
    left: 150px;
    right: 50px;
    bottom: 10px;
    height: 80px;
  }

  .bottom-cloud{
    left: -148px;
    bottom: 20px;
    height: 80px;
  }

  .education{
    margin: 0 10px;
    padding: 0 0 0.1px;
  }

  .oriental-img{
    position: relative;
    margin-right: 50px;
    left: 80px;
  }

  .miss-hill-img{
    position: relative;
    margin-left: 100px;
    right: 80px;
  }
  .sanskriti-img{
    padding: 0 28px 13px 0;
    margin: 0 75px 0;
  }
  .development-img{
    margin-left: 80px;
    padding: 10px 0 10px;
    width: 200px;
  }
  .PCB-img{
    width: 200px;
    margin: 0 40px 0 75px;
    padding: 0 26px 25px;
  }
  .container {
    width: 200px;
    left: 143px;
    bottom: 20px;
    border-radius: 5px;
  }

  .round-circle{
    width: 11px;
    height: 11px;
    border-radius: 100%;
    position: relative;
    bottom: 4.9px;
  }
  .round-Javascript{
    left: 137px;
  }
  .round-python{
    left: 155px;
  }
  .round-html-css{
    left: 147px;
  }
  .round-express{
    left: 135px;
  }
  .round-node{
    left: 130px;
  }
  .round-mongo{
    left: 127px;
  }
  .round-PCB{
    left: 165px;
  }

  .round-embedded{
    left: 138px;
  }
  .round-easyeda{
    left: 150px;
  }
  .round-micro{
    left: 129px;
  }
  .c-cards{
    width: 15rem;
  }
  .university{
    display: none;
  }
  .project-back{
    display: none;
  }
}
